// Fonts size vars
$font-main: 22px;
$font-title: 46px;


// Color vars
$title-white: #F1F2F4;
$main-white: #A3ABB2;

$title-black: #3D3D3D;
$main-black: #575757;

$bg-dark: #0C151D;
$bg-light: #E9EBEC;

$yellow: #FFE071;